* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

/* body:after
{
	content: url(../images/arrow.png) url(../images/safelock360.png);
	display: none;
} */

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}


.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}


.ui-btn {
	opacity: 0.9;
}

.red-text {
	color: red;
}

.green-text {
	color: green;
}

.lock {
	width: 360px;
	height: 360px;
	background-image: url("../images/safelock360.png");
	background-size: cover;
	position: fixed;
}

.code {
	top: 90px;
	left: 110px;
	width: 140px;
	height: 140px;
	position: relative;
}
.code:hover {
	background-color: #1cb5c9;
	border-radius: 70px;
}

.arrow {
	top: 10px;
	left: 170px;
	width: 20px;
	height: 20px;
	position: relative;
	background-image: url("../images/arrow.png");
}

.code .current-value {
	font-size: 50px;
}

.code .small-value {
	font-size: 15px;
}


.reverse-ellipsis {
  text-overflow: clip;
  position: relative;
  overflow: hidden;
/* 	word-wrap: break-word;
	max-height: 35px;
	overflow: hidden; */
}

.reverse-ellipsis span {
  min-width: 100%;
  position: relative;
  display: inline-block;
  float: right;
  overflow: visible;
  background-color: inherit;
  /*text-indent: 0.5em;*/
}

#connect_status {
	display: none;
}

.slide-container {
	width: 140px;
	height: 40px;
	overflow-y: hidden;
	
}

.slide-object {
	position: relative;
}

.slide-container span {
	float: left;
	width: 140px;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
}
